<% layout('/layouts/boilerplate') -%>

    <body>

        <%- include('../includes/navbar.ejs') %>

            <form class="create-liss-form" action="/listing/<%= listing._id %>?_method=PUT" method="post">

                <div class="feild title-fld">
                    <label for="name">Title : </label>
                    <input type="text" id="nam" value="<%= listing.title %>" name="listing[title]"
                        placeholder="Add a catchly title" required>
                </div>
                <div class="feild desc-fld">
                    <label for="email">Description :</label>
                    <textarea name="listing[description]" id="" cols="30" rows="3"><%= listing.description %></textarea>
                </div>
                <div class="feild image-fld">
                    <label for="name">Image Link : </label>
                    <input type="text" id="nam" value="<%= listing.image %> name=" listing[image]"
                        placeholder="Enter image link/url">
                </div>
                <div class="wrapper-fld">
                    <div class="feild price-fld">
                        <label for="phone">Price :</label>
                        <input type="number" value="<%= listing.price %>" id=" phone" name="listing[price]" required>
                    </div>
                    <div class="feild country-fld">
                        <label for="message">Country :</label>
                        <input type="text" id="message" value="<%= listing.country %>" name="listing[country]" rows="4"
                            required>
                    </div>
                </div>
                <div class="feild location-fld">
                    <label for="message">Location :</label>
                    <input type="text" id="message" value="<%= listing.location %>" name="listing[location]" rows="4"
                        required>
                </div>

                <input id="submit" type="submit" value="Submit">
            </form>

    </body>

    </html>