<% layout('/layouts/boilerplate') -%>

    <body>

        <%- include('../includes/navbar.ejs') %>

            <form class="create-liss-form needs-validation" novalidate action="/listing/<%= listing._id %>?_method=PUT"
                method="post" enctype="multipart/form-data">

                <div class="feild title-fld">

                    <label for="title" class="form-label mb-0">Title : </label>
                    <input type="text" name="listing[title]" class="form-control" id="title"
                        placeholder="Add a catchly title" value="<%= listing.title %>" required>
                </div>



                <div class="feild desc-fld">
                    <label class="form-label mb-0">Description :</label>
                    <textarea name="listing[description]" class="form-control" id="" cols="30" rows="3"
                        required><%= listing.description %></textarea>
                </div>
                <div class="feild image-fld">
                    <label for="name" class="form-label mb-0">Upload New Image : </label>
                    <input type="file" id="nam" class="form-control" value="" name="listing[image]"
                        placeholder="Enter image link/url">
                </div>
                <div class="feild mt-1">
                    <img width="690" height="300" src="<%= listing.image.url %>" alt="">
                </div>
                <div class="wrapper-fld">
                    <div class="feild price-fld">
                        <label for="phone" class="form-label">Price :</label>
                        <input type="number" class="form-control" id="phone" name="listing[price]"
                            value="<%= listing.price %>" required>
                    </div>

                    <div class="feild country-fld">
                        <label for="message" class="form-label">Country :</label>
                        <input type="text" class="form-control" id="message" name="listing[country]"
                            value="<%= listing.country %>" required>
                    </div>
                </div>
                <div class="feild location-fld">
                    <label for="message" class="form-label">Location :</label>
                    <input type="text" class="form-control" id="message" name="listing[location]"
                        value="<%= listing.location %>" required>
                </div>


                <input id="submit" type="submit" value="Submit">
            </form>

    </body>

    </html>