<% layout('/layouts/boilerplate') -%>

    <body>

        <%- include('../includes/navbar.ejs') %>

            <div class="row row-cols-lg-4 rew-cols-md-3 row-cols-sm-2">
                <% listings.forEach(listing=> { %>
                    <a href="/listing/<%= listing._id %>">
                        <div class="card col">
                            <img src="<%= listing.image %>" style="height: 18rem;" class="card-img-top"
                                alt="listing Image">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= listing.title %>
                                </h5>
                                <p class="card-text">
                                    <b> &#8377;<%= listing.price.toLocaleString("en-IN") %>
                                    </b>&nbsp; <span>Night</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <% }); %>
            </div>

            <%- include('../includes/footer.ejs') %>
    </body>