<% layout('/layouts/boilerplate') -%>

    <body>

        <%- include('../includes/navbar.ejs') %>


            <div class="main-show-container">
                <div class="show-wrapper">
                    <div class="show-img">
                        <img src="<%= listing.image %>" alt="">
                    </div>

                    <div class="show-content">
                        <div class="show-title"><b>
                                <%= listing.title %>
                            </b></div>

                        <div class="show-desc">
                            <%= listing.description %>
                        </div>
                        <div class="show-price">
                            <b> &#8377;<%= listing && listing.price ? listing.price.toLocaleString("en-IN") : 'N/A' %>
                            </b>&nbsp;<span>Night</span>
                        </div>
                        <div class="show-location">
                            <%= listing.location %>
                        </div>
                        <div class="show-country">
                            <%= listing.country %>
                        </div>
                    </div>
                    <div class="edit-btns">
                        <a href="/listing/<%= listing._id %>/edit"><button class="button-17 show-edit"
                                role="button">Edit</button></a>

                        <form method="post" action="/listing/<%= listing._id %>?_method=DELETE">
                            <button class="button-17 show-dlete" role="button">Delete</button>
                        </form>

                    </div>
                </div>
            </div>

            <hr>


            <!--   ///////// Dynamic Reviews Section ////// -->
            <section class="faq_dynamic-main">
                <div class="container">
                    <div class="listing__faq py-4">
                        <div class="faq_inner-listing">
                            <h2 class="secondary-color py-2 f-24"> Add Your Review </h2>
                            <div class="faq_box-wrapper">

                                <form class="needs-validation" novalidate action="">
                                    <div class="faq_form-box-inner border border-1 border-secondary rounded p-3">
                                        <input type="range" min="1" max="5" name="review[rating]" id="review-username"
                                            placeholder="Name" class="w-100 py-2 form-control rounded-0" required>
                                        <div class="input-group">
                                            <textarea name="review[comment]" aria-label="With textarea" rows="4"
                                                cols="50" id="rewiew_message" placeholder="Message"
                                                class="form-control mt-3 w-100 rounded-0" required></textarea>
                                        </div>
                                        <div class="list_add-faq pt-4"></div>
                                        <button class="button-17 show-dlete">Submit</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>

            <section class="content-wrapper-faq py-5">
                <div class="container">
                    <h3 class="main-head text-center"> Yet Working On It</h3>
                    <div class="main_reviews-container">
                        <div class="border py-3 my-2 border-dark rounded reviews_inner container">
                            <div class="accordian-link d-flex align-items-center pointer py-2 ">
                                <img src="https://source.unsplash.com/random/2200x1200/?person"
                                    class="img-fluid user_image">
                                <h3 class="reveiew_user_name ps-3">Dj The Lucifier</h3>
                            </div>
                            <p class="review_answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quas
                                esse odit voluptatem consectetur debitis vero magni facere. Laudantium quia architecto
                                ratione accusamus ea dicta incidunt animi recusandae quasi cumque.Lorem ipsum dolor sit
                                amet consectetur adipisicing elit. Eum quas esse odit voluptatem consectetur debitis
                                vero magni facere. Laudantium quia architecto ratione accusamus ea dicta incidunt animi
                                recusandae quasi cumque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                                quas esse odit voluptatem consectetur debitis vero magni facere. Laudantium quia
                                architecto ratione accusamus ea dicta incidunt animi recusandae quasi cumque.Lorem ipsum
                                dolor sit amet consectetur adipisicing elit. Eum quas esse odit voluptatem consectetur
                                debitis vero magni facere. Laudantium quia architecto ratione accusamus ea dicta
                                incidunt animi recusandae quasi cumque.Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Eum quas esse odit voluptatem consectetur debitis vero magni facere.
                                Laudantium quia architecto ratione accusamus ea dicta incidunt animi recusandae quasi
                                cumque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quas esse odit
                                voluptatem consectetur debitis vero magni facere. Laudantium quia architecto ratione
                                accusamus ea dicta incidunt animi recusandae quasi cumque.Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Eum quas esse odit voluptatem consectetur debitis vero
                                magni facere. Laudantium quia architecto ratione accusamus ea dicta incidunt animi
                                recusandae quasi cumque.</p>
                        </div>
                    </div>
            </section>





            <%- include('../includes/footer.ejs') %>
    </body>

    </html>