<% layout('/layouts/boilerplate') -%>

    <body>


        <%- include('../includes/navbar.ejs') %>

            <%- include('../includes/flash.ejs') %>


                <div class="main-show-container">
                    <div class="show-wrapper">
                        <div class="show-img">
                            <img src="<%= listing.image.url %>" alt="">
                        </div>

                        <div class="show-content">
                            <h4 class="card-heading mt-3 fw-bold">
                                @<%= listing.owner.username %>
                            </h4>
                            <div class="show-title"><b>
                                    <%= listing.title %>
                                </b></div>

                            <div class="show-desc">
                                <%= listing.description %>
                            </div>
                            <div class="show-price">
                                <b> &#8377;<%= listing && listing.price ? listing.price.toLocaleString("en-IN") : 'N/A'
                                        %>
                                </b>&nbsp; &nbsp;<span>Night</span>
                            </div>
                            <div class="show-location">
                                <%= listing.location %>
                            </div>
                            <div class="show-country">
                                <%= listing.country %>
                            </div>
                        </div>
                        <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
                            <div class="edit-btns">
                                <a href="/listing/<%= listing._id %>/edit"><button class="button-17 show-edit"
                                        role="button">Edit</button></a>

                                <form method="post" action="/listing/<%= listing._id %>?_method=DELETE">
                                    <button class="button-17 show-dlete" role="button">Delete</button>
                                </form>

                            </div>
                            <% } %>
                    </div>
                </div>

                <hr>

                <div class="map w-full d-flex align-item-center justify-content-center my-5">

                    <div id="map"></div>
                </div>
                <hr>
                <!--   ///////// Dynamic Reviews Section ////// -->
                <section class="faq_dynamic-main">
                    <div class="container">
                        <div class="listing__faq py-4">
                            <div class="faq_inner-listing">
                                <% //if (currUser) { %>
                                    <h2 class="secondary-color py-2 f-24"> Add Your Review </h2>
                                    <div class="faq_box-wrapper">
                                        <form class="needs-validation" novalidate method="post"
                                            action="/listing/<%= listing._id %>/review">
                                            <div
                                                class="faq_form-box-inner border border-1 border-secondary rounded p-3">
                                                <fieldset class="starability-slot">
                                                    <input type="radio" id="no-rate" class="input-no-rate"
                                                        name="review[rating]" value="1" checked
                                                        aria-label="No review[rating]." />
                                                    <!-- <input type="radio" id="first-rate1" name="review[rating]"
                                                        value="1" /> -->
                                                    <label for="first-rate1" title="Terrible">1 star</label>
                                                    <input type="radio" id="first-rate2" name="review[rating]"
                                                        value="2" />
                                                    <label for="first-rate2" title="Not good">2 stars</label>
                                                    <input type="radio" id="first-rate3" name="review[rating]"
                                                        value="3" />
                                                    <label for="first-rate3" title="Average">3 stars</label>
                                                    <input type="radio" id="first-rate4" name="review[rating]"
                                                        value="4" />
                                                    <label for="first-rate4" title="Very good">4 stars</label>
                                                    <input type="radio" id="first-rate5" name="review[rating]"
                                                        value="5" />
                                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                                </fieldset>
                                                <div class="input-group">
                                                    <textarea name="review[comment]" aria-label="With textarea" rows="4"
                                                        cols="50" id="rewiew_message" placeholder="Message"
                                                        class="form-control w-100 rounded-0" required></textarea>
                                                </div>
                                                <button class="button-17 show-dlete">Submit</button>
                                        </form>
                                        <% // } %>
                                    </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>
                <hr>




                <section id="testimonials" class="mb-5">
                    <!--heading--->
                    <div class="testimonial-heading">
                        <% if (listing.reviews.length) {%>
                            <h2 class="3">Reviws</h2>
                            <%} %>
                    </div>
                    <!--testimonials-box-container------>
                    <div class="testimonial-box-container">
                        <!--BOX-1-------------->
                        <% for( review of listing.reviews ) { %>
                            <div class="testimonial-box">
                                <!--top------------------------->
                                <div class="box-top">
                                    <!--profile----->
                                    <div class="profile">
                                        <!--img---->
                                        <div class="profile-img">
                                            <img
                                                src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                        </div>
                                        <!--name-and-username-->
                                        <div class="name-user">
                                            <strong>
                                                <%= review.author.username %>
                                            </strong>
                                            <span>@<%= review.author.username %></span>

                                        </div>
                                    </div>
                                    <!--reviews------>
                                    <div class="reviews">
                                        <% for (let i=0; i < 5; i++) { %>
                                            <% if (i < review.rating) { %>
                                                <i class="fas fa-star"></i>
                                                <% } else { %>
                                                    <i class="far fa-star"></i><!-- Empty star -->
                                                    <% } %>
                                                        <% } %>
                                    </div>

                                </div>
                                <!--Comments---------------------------------------->
                                <div class="client-comment">
                                    <p>
                                        <%= review.comment %>
                                    </p>
                                </div>
                                <% if (currUser && currUser._id.equals(review.author._id)) { %>
                                    <form method="post"
                                        action="/listing/<%= listing._id %>/review/<%= review._id %>?_method=DELETE">
                                        <button class="button-17 show-dlete">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                            <% } %>

                    </div>
                </section>





                <%- include('../includes/footer.ejs') %>

                    <script src="/js/review.js"></script>

                    <script>
                        let mapToken = "<%= process.env.MAP_TOKEN %>"
                        mapboxgl.accessToken = mapToken;
                        const map = new mapboxgl.Map({
                            container: 'map', // container ID
                            center: [76.7794, 30.7333], // starting position [lng, lat]
                            zoom: 9 // starting zoom
                        });
                    </script>
    </body>

    </html>